<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header}}
    <h1>{{title}}</h1>
    <p>this site was created by anurag.It uses API from darksky.net</p>
    {{> footer}}
</body>

</html>